*{
	font-family: Montserrat-Medium, sans-serif;
	color: #000000;
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid rgba(0,0,0,0);
  padding: 2px 5px;
  font-size: 1rem;
  border-radius: 5px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}
.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-secondary:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}
.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
.btn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}
.btn-info {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}
.btn-info:hover {
  color: #fff;
  background-color: #138496;
  border-color: #117a8b;
}
.btn-warning {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}
.btn-warning:hover {
  color: #212529;
  background-color: #e0a800;
  border-color: #d39e00;
}
.btn-danger {
  color: #fff;
  background-color: #be1f2f;
  border-color: #bd2130;
}
.btn-danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}
.btn-light {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-light:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}
.btn-dark {
  color: #000000;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-dark:hover {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
.btn-link {
  font-weight: 400;
  color: #007bff;
  background-color: transparent;
}
.btn-link:hover {
  color: #0056b3;
  text-decoration: underline;
  background-color: transparent;
  border-color: transparent;
}
body{
	margin: 0;
	background: #ecf0f1;
	position: relative;
}
input[type=checkbox] + label:before {
    content: "\2713";
    color: transparent;
    display: inline-block;
    border: 1px solid #ccc;
		border-radius: 5px;
    font-size: 20px;
    line-height: 22px;
    margin: -5px 5px 0 0;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    transition: color ease .3s;
}

input[type=checkbox]:checked + label:before {
    color: #000;
}
.header{
	background: #2c3e50;
	padding: 10px;
	margin-top: 20px;
	border-radius: 5px;
}
.logo{
	width: 100%;
}
.logo img{
	width: 100%;
	height: auto;
}
.white{
	color: #fff;
}
.managelist,.info{
	list-style: none;
	margin: 0;
	padding: 0;
}
.managelist li,.info li{
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
	background: #ffffff;
}
.managelist span{
	padding: 5px;
	margin: 5px;
}
.btn>img{
	width: 12px;
	height: 12px;
}
.close{
	transform: rotateZ(45deg);
}
.content{
	border-radius: 5px;
	background: #ffffff;
	margin: 5px;
	margin-top: 0;
	padding: 10px
}
.inline{
	display: inline-block;
}
.popup-manager{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	z-index: 800;
	display: none;
	justify-content: center;
}
.interface{
	max-width: 600px;
	width: 100%;
	height: 350px;
	background: #fff;
	border-radius: 5px;
	padding: 20px;
	margin: 30px auto;
	z-index: 820;
}
.interface ul{
	margin: 0;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.interface ul li{
	list-style: none;
	width: 100%;
	padding-bottom: 20px;
}
.interface ul li input{
	width: 100%;
	height: 30px;
	border: 1px solid #ccc;
	border-radius: 5px;
}
#active{
	display: none;
}
.control{
	display: flex;
	justify-content: space-around;
}
.control .btn{
	padding: 4px 10px;
}
